<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body style="background-image: url(/images/back-img.jpg); background-size: cover; margin-top: 100px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    
    <%- include("../navbar") %>
    <div class="container"></div>
    <div class="container mt-4 p-4">
        <div class="row">
            <div class="col-md-3 m-0 p-0"></div>
            <div class="col-md-6 m-0 p-0">
            <div class="container selfbd">
                <div class="row">
                    <div class="col-md-6 leftimg"></div>
                    <div class="col-md-6 rightform">
                        <br>
                        <p class="sty text-center">Welcome</p>
                        <br><br>
                        <form action="/login" method="post">
                            <div class="form-group col-md-12">
                                <input type="email" class="form-control" id="inputEmail4" name="username" placeholder="Email">
                              </div>
                              <div class="form-group col-md-12">
                                <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password">
                              </div>
                              <div class="col-md-1"></div>
                              <div class="col-md-10 text-center">
                              <button type="submit" class="gradient-button gradient-button-1" >LOGIN</button> 
                              <a href=""><small><u style="color: white;"><p style="color: white;">Forget Password?</p></u></small></a>
                              </div>                              
                        </form>
                        <br>
                        <small><div class="text-center" style="color: white;">Don't have account? <a href="/register"><u style="color: white;">Sign Up</u></a></div>
                        
                    </div>                
                </div>
            </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
</body>
