<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat App</title>
    <link href="https://fonts.googleapis.com/css?family=Gelasio&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<body>
  <div id="body">
    <p id="username" hidden><%=currentUser.name%></p>
    <div id="head">
      <div class="content">
        <div id="sidenav">
            <div >
              <p style="font-size: 30px; color: white; font-family: 'Poppins', sans-serif; line-height: 0; text-align: center;">Online Users</p>
            </div>
            <div id="user-list">
              <div id="users" class="btn-group"></div>
            </div>
        </div>
        <div id="div-right">
          <div id="nav">
             <div style="padding: 0px 20px; font-size: 20px; "><strong id="circle-name"></strong></div>
               <p id="date" style=" padding: 0px 600px; font-size: 0.8em; color: rgb(88, 88, 88);"></p>
             </div>
          <div id="chat">
            <% var i = 1 %>
            <%  circle[0].messages.forEach(function(message){ %>
            <div id="block"><div id="image"><img src="https://img.icons8.com/material-sharp/46/000000/user-male-circle.png" alt=""></div><div id="block2"><div id="name"><strong>><%=message.author.username%></strong><span style="font-size: 14px; padding: 0px 10px"><%=message.created%></span></div><div id="message-area"><%=message.text%></div></div></div><br/>
            <% i++%>
            <%}) %>
          </div>
            <form id="message-send" class="footer" >
                <div id="editor" contenteditable="true" placeholder="Type a message" style="font-size: 25px; border: 1px solid gray; height: 70px; max-width: 100%; width: 1550px; margin: 10px 10px 10px 10px; padding: 0; position: relative;"></div>
                <button class="btn-editor" id="send" style="font-size: 20px; z-index: 3; margin-bottom: 5px; margin-left: 10px; background-image:linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163)); color: white; border: 1px solid black; border-radius: 2%;">SEND</button>
                <input id="message" type="text" placeholder="Type a message" style="display: none;">            
            </form>
            <div class="footer" style="right: 0; margin-bottom: 65px; margin-right: 63px; ">
              <button class="btn-editor" id="imagefile" style="font-size:24px; z-index: -1; border: 1px solid black;" ><i class="fa fa-camera"></i></button> 
              <input id="file" type="file" style="display: none;">
            </div>
            <div class="footer" style="margin-left: 120px; margin-bottom: 5px;">
              <button class="btn-editor" id="bold"  onclick="document.execCommand('bold',false,null);" style="font-size: 15px; font-weight: bold; font-family: 'Poppins', sans-serif; background-image:linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163)); color: white; border: 1px solid black; border-radius: 2%; ">B</button>
              <button class="btn-editor" id="italic" onclick="document.execCommand('italic',false,null);" style="font-weight: bold; font-size: 15px; font-style: italic; font-family: 'Poppins', sans-serif; background-image:linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163)); color: white; border: 1px solid black; border-radius: 2%;">I</button>
              <button class="btn-editor" id="underline" onclick="document.execCommand('underline',false,null);" style="font-size: 15px; font-weight: bold; text-decoration: underline; font-family: 'Poppins', sans-serif; background-image:linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163)); color: white; border: 1px solid black; border-radius: 2%;">U</button>
            </div>
        </div>
      </div >
    </div>
  </div>
     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <script src="/socket.io/socket.io.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js"></script>
      <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
      <script>
         $(function() {
            var socket = io('/chat');
            var date = new Date();
            var user = document.getElementById("username").textContent;
            console.log(user);
            $('#date').append(date);
            $('#head').show();
            document.getElementById('circle-name').innerHTML = 'Web Development Circle';

            //socket.emit('newuser',{'username': user});

          socket.emit('newuser',{'username': user});

           socket.on('new message', function(data){
               $('#chat').append(
                 '<div id="block"><div id="image"><img src="https://img.icons8.com/material-sharp/46/000000/user-male-circle.png"></div><div id="block2"><div><strong>'+user+'</strong><span style="font-size: 14px; padding: 0px 10px">'+date.getHours()+':'+ date.getMinutes()+'</span></div><div id="message-area">'+data.msg+'</div></div></div><br/>'
                 )
            });
            

            socket.on('get users', function(data){
                var html = '';
                for(i = 0; i< data.length; i++){
                    html += '<button>'+data[i]+'</button>';
                }
                $('#users').html(html);
            });

            /*$('#imagefile').click(function(){
              $('#file').trigger('click');
            })
            
            $('#file').bind('change', function(e){
                var data = e.originalEvent.target.files[0];
                var reader = new FileReader();
                reader.onload = function(evt){
                  socket.emit('user image', evt.target.result);
                };
                reader.readAsDataURL(data);
            });
            
            socket.on('user image', function(base64Image){
              $('#chat').append('<div id="block"><div id="image"><img src="https://img.icons8.com/material-sharp/46/000000/user-male-circle.png"></div><div id="block2"><div><strong>'+data.user+'</strong><span style="font-size: 14px; padding: 0px 10px">'+date.getHours()+':'+ date.getMinutes()+'</span></div><div id="message-area"><img style="height: 300px; width: 400px; border: 1px solid black; border-radius: 2%;" src="'+base64Image+'"/></div></div></div><br/>');
            })*/

            $('#send').on('click',function(e){
              e.preventDefault(); // prevents page reloading
              //console.log(e.target.result)
              const text = $('#message').val();
              var t = {text};
              if($('#message').val()!==''){
                fetch('/add_message', {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify(t)
                }).then(res => console.log(res))
                .catch(function(error) {
                  console.log(error);
                });
                  
                  socket.emit('chat message', {message: $('#message').val(),user: user});
                  $('#message').val('');
                  document.getElementById('editor').innerHTML = '';
              }
           }) 

           setInterval(function () {
              document.getElementById("message").value = document.getElementById("editor").innerHTML;
          }, 5); 
          

        });
      </script>
</body>
</html>


  