<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LEARNING CIRCLES</title>
    <link rel="stylesheet" href="/stylesheets/learningcircle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="margin-top: 100px;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <%- include("navbar") %>
    </nav>
    <div id="heading">Learning Circles</div>
    <div id="subheading">Find Like-Minded Peers and Experienced Mentors</div>
    <div id="flex1">
        <div class="item1">
            <button class="item2" onclick="window.location.href='/chat'">
                <img src="images/webdev.jpg" height="200px" alt="">
                <div>
                    Web Development
                </div>
            </button>
            <button class="item2">
                <img src="images/android.jpg" height="200px"  alt="">
                <div>
                    Android Development
                </div>
            </button>
        </div>
        <div class="item1">
            <button class="item2">
                <img src="images/competitive1.jpg" height="200px" alt="">
                <div>
                    Competitive Programming
                </div>
            </button>
            <button class="item2">
                <img src="images/ML.png" height="200px" alt="">
                <div>
                    Machine Learning
                </div>
            </button>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>