* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: white;
    background-size: cover;
}

#logo {
    margin-right: 4px;
    margin-left: 15px;
}

#intro {
    margin-top: 70px;
    font-size: 60px;
    font-weight: 800;
    /* color: #396971; */
    color: rgb(1, 105, 105);
    text-shadow: 4px 4px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
}

#carousel1 {
    margin-top: 15px;
    height: 500px;
}

.car_caption {
    background-color: #396971d2;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 20px;
    /* border-radius: 35%; */
}

#flexC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    align-items: center;
}

#walloffameheader {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#flex2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

#flex3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 400px;
    align-items: center;
}

.carousel-item img {
    max-height: 450px;
}

.collegelist {
    background-image: linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163));
    height: 450px;
    width: 300px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.cardheading {
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.college {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    width: 240px;
}

#item2 {
    flex-grow: 2;
}

#item4 {
    width: 250px;
}

#item5 {
    width: 250px;
}

.Colleges {
    color: rgb(1, 105, 105);
    font-weight: bolder;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.15);
}

#item6 {
    flex-grow: 1.5;
    background-image: url("/images/mentor.png");
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.24);
}

#item7 {
    flex-grow: 1.5;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.24);
    background-size: cover;
}

.item8{
    height: 225px;
}

.item9{
    display: inline-block;
    width: 290px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    background-color: #F8F9FA;
}

#blank {
    height: 40px;
}

.item {
    /* background-color: lightyellow; */
    height: 450px;
    width: 200px;
    margin: 5px;
    align-content: center;
}
