* {
    font-family: 'Roboto', sans-serif !important;
}

body {
    background-color: rgb(1, 105, 105);
}

.container {
    max-width: inherit;
}

.emp-profile {
    padding: 3%;
    border-radius: 0.5rem;
    background: #fff;
    width: 80%;
}

.profile-img {
    text-align: center;
}

    .profile-img img {
        width: 100%;
        height: 100%;
    }

.details {
    text-align: center;
    padding: 0 30px;
}

.name {
    font-weight: 800;
    color: rgb(1, 105, 105);
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529;
}

    .profile-img .file input {
        position: absolute;
        opacity: 0;
        right: 0;
        top: 0;
    }

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: rgb(1, 105, 105);
}

.profile-edit-btn {
    border: none;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

    .proile-rating span {
        color: #495057;
        font-size: 15px;
        font-weight: 600;
    }

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

    .profile-head .nav-tabs .nav-link {
        font-weight: 600;
        border: none;
    }

        .profile-head .nav-tabs .nav-link.active {
            border: none;
            border-bottom: 2px solid rgb(1, 105, 105);
        }

.profile-work {
    padding: 14%;
    margin-top: -15%;
}

    .profile-work p {
        font-size: 12px;
        color: #818182;
        font-weight: 600;
        margin-top: 10%;
    }

    .profile-work a {
        text-decoration: none;
        color: #495057;
        font-weight: 600;
        font-size: 14px;
    }

    .profile-work ul {
        list-style: none;
    }

.profile-tab label {
    font-weight: 600;
}

.profile-tab p {
    font-weight: 600;
    color: rgb(1, 105, 105);
}

.profilepost {
    margin: 1%;
}

a {
    color: rgb(1, 105, 105);
}


/*Edit Profile*/
.save-btn {
    background-image: linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163));
    color: white;
    padding: 5px;
    font-size: 20px;
    width: 100%;
}

.container-edit {
    padding: 25px 100px;
    padding-right: 40px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-width: 1.5px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(1, 105, 105);
}

.form-group label {
    color: rgb(1, 105, 105);
    font-weight: 700;
}

.form-control, .custom-select {
    margin-bottom: 5px;
    margin-top: -4px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(1, 105, 105);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

/*Profile Posts*/
.post-img {
    width: inherit;
    height: inherit;
}

.profile-tab #post-content {
    color: black;
    font-weight: 200;
    font-size: 15px;
    text-align: left;
}

.post-btn {
    background-image: linear-gradient(to bottom right, rgb(1, 105, 105), rgb(7, 163, 163));
    color: white;
    padding: 5px;
    font-size: 12px;
    margin-top: 5px;
    box-shadow: 0 1px 4px grey, 0 1px 2px rgba(1, 105, 105,0.24);
}

.post-details {
    text-align: right;
}

#post-title {
    text-align: center;
    font-weight: 600;
    color: rgb(1, 105, 105);
    font-size: 18px;
}

.post-row {
    border-width: 0.5px;
    border-style: solid;
    border-radius: 5px;
    border-color: rgb(225, 225, 225);
    padding: 20px;
    box-shadow: 0 1px 4px grey, 0 1px 2px rgba(1, 105, 105,0.24);
    background-color: rgb(225, 225, 225);
}

/*Manage Privacy*/
input[type="checkbox"] {
    position: relative;
    width: 50px;
    height: 20px;
    -webkit-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
}

input:checked[type="checkbox"] {
    background: rgb(1, 105, 105);
}

input[type="checkbox"]:before {
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    background: #e7e7e7;
    transform: scale(1.1);
    box-shadow: inset 2px 4px 5px rgba(0,0,0,0.2);
    transition: 0.5s;
}

input:checked[type="checkbox"]:before {
    left: 30px;
}

.skillDiv{
    display: inline-block;
    margin-right: auto;
}

#skillDiv1{
    padding-left: 20px;
}